name: ci
on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
  perf-test:
    runs-on: ubuntu-24.04
    steps:
      - run: sudo apt update && sudo apt install -y linux-tools-common linux-tools-generic
      - run: sudo sysctl -w kernel.perf_event_paranoid=-1
      - run: perf stat -e cycles,instructions date
  perf-record:
    runs-on: ubuntu-24.04
    steps:
      - run: sudo apt update && sudo apt install -y linux-tools-common linux-tools-generic
      - run: sudo sysctl -w kernel.perf_event_paranoid=-1
      - run: perf record -j any,u date
      - run: perf script -i perf.data > out.perf
      - run: cat out.perf
  dynamorio-instr-count:
    runs-on: ubuntu-24.04
    steps:
      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: DynamoRIO-Linux-11.3.0-1
          key: DynamoRIO-Linux-11.3.0-extracted

      - name: Download and extract
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          wget https://github.com/DynamoRIO/dynamorio/releases/download/release_11.3.0-1/DynamoRIO-Linux-11.3.0.tar.gz -O - | tar -zxf
      
      - name: Run instruction count
        run: |
            ./DynamoRIO-Linux-11.3.0-1/bin64/drrun -c ./DynamoRIO-Linux-11.3.0-1/samples/bin64/libinscount.so -- \
            date
